body,
html {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.footer {
  background-color: #555;
  width: 100vw;
  min-height: 200px;
}

.nav {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #555;
  height: 65px;
  color: #fff;
  display: flex;
  align-items: center;
}

.nav ul {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}

.nav ul li {
  padding: 5px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left select,
.right select {
  max-width: 200px;
}

.main {
  margin-top: 65px;
  display: flex;
}

.selected {
  box-sizing: border-box;
  border: 1px solid red;
}

